<div id="new-ingredient">
  <h2 class="column-heading">What's in the fridge?</h2>
  <input id="new-ingredient-name" type="text" placeholder="Food Name"/>
  <input id="new-ingredient-oz" type="text" placeholder="Enter Oz"/>
  <button id="new-ingredient-button">Add Ingredient</button>
</div>

<div id="current-ingredient-column" class="column">
  <h2 class="column-heading">In the Fridge:</h2>
  <ul class="ingredient-list">
  </ul>
</div>

<!-- <div id="completed-column" class="column">
  <h2 class="column-heading">On the Counter:</h2>
  <ul class="ingredient-list">
  </ul>

</div> -->

<div id="recipes-column" class="column">
  <h2 class="column-heading">Recipes</h2>
  <button id="look-for-recipes">Find Recipes!</button>
  <div>

<script>
  $(document).ready(function(){
      fridgeModel = new Fridge();
      console.log("this is a fridge")
      fridgeView = new FridgeView(fridgeModel);


  });
</script>
