<div id="new-ingredient">
  <input id="new-ingredient-name" type="text" placeholder="What's in your fridge?"/>
  <input id="new-ingredient-oz" type="text" placeholder="Enter Oz"/>
  <button id="new-ingredient-button">Add Ingredient</button>
</div>

<div id="current-ingredient-column" class="column">
  <h2 class="column-heading">In the Fridge:</h2>
  <ul class="ingredient-list">
  </ul>
</div>

<div id="completed-column" class="column">
  <h2 class="column-heading">On the Counter:</h2>
  <ul class="ingredient-list">

  </ul>
</div>
