<div class= "profile_view">
  <div class = "landing-left">
    <img src="/assets/openfridge.jpg" alt="homepagefridge" />
  </div>
  <!-- <div class="landing-right"> -->
    <div class="column">
      <h1><p>Welcome to <strong>fridge.flex</strong></p></h1>
      <h2>Make more out of what's left...over!</h2>
      <p>
        FridgeFlex answers the question: <em>what can i make with this?</em>
        Create a virtual fridge, fill with ingredients, and start finding new recipes
        to save you <strong>time</strong>, <strong>money</strong>, and <em>headaches</em>
        today!
      </p>
        <div id="view_buttons">
          <%= link_to "Sign up", new_user_registration_path, class: "sign_up" %>
        </div>
        <div id="view_buttons">
          <%= link_to "Log in", new_user_session_path, class: "sign_in" %>
        </div>
    </div>
  <!-- </div> -->
</div>
